$country-fill: #1c2833;
$green: #82e0aa;
$country-stroke: #82e0aa;
$body-background: #101010;
$stats-background: #f2f3f4;
$red: #c23b22;
$input-back: #808b96;
$placeholder: #abebc6;
$stats-width-desktop: 40%;
