$country-fill: #1c2833;
$green: #82e0aa;
$country-stroke: #82e0aa;
$autocomplete-back: #34495e;
$body-background: #101010;
$stats-background: #f2f3f4;
$red: #c23b22;
$input-back: #808b96;
$placeholder: #abebc6;
$btn-container-width: 40%;
$stats-width: 45%;
$stats-width-mobile: 100%;
$input-search-width: 43%;
$input-search-width-mobile: 90%;
