@import './_variables.scss';

html {
  overflow-y: scroll;
}

body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;
  color: $green;
  background: $body-background;
  padding: 20px;
}

#country {
  margin: 0px;
}

#hover {
  display: none;
}

.btn-container {
  display: flex;
  flex-direction: row;
  width: $btn-container-width;
  margin: 0 auto;
  justify-content: center;
}

#prov-table-link,
.show-country,
#county-search {
  background-color: $country-fill;
  border: 2px solid $country-stroke;
  border-radius: 3px;
  padding: 10px;
  display: inline-block;
  margin: 0 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  &:hover {
    background-color: $country-stroke;
    color: $country-fill;
  }
  i {
    font-size: 14px;
  }
}

#county-search {
  display: none;
}

#stats-head {
  margin: 6px 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px $country-fill inset !important;
  -webkit-text-fill-color: $green !important;
}

.autocomplete {
  width: $input-search-width;
  position: relative;
  margin: 15px auto;
}

input {
  background-color: $country-fill;
  border: 2px solid $green;
  color: $green;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  display: none;
}

input::placeholder {
  color: $placeholder;
}

.auto-suggestions {
  display: none;
  padding: 0px;
  overflow-y: scroll;
  max-height: 150px;
  li {
    padding: 10px 0px;
    font-size: 18px;
    list-style-type: none;
    cursor: pointer;
    background-color: $autocomplete-back;
    border: 1px solid $country-stroke;
    &:hover {
      background-color: $country-stroke;
      color: $country-fill;
    }
  }
  background: $country-fill;
  border: 2px solid $green;
  border-radius: 5px;
  position: absolute;
  margin-top: 5px;
  left: 0;
  right: 0;
  z-index: 99;
}

.stats-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 15px;
  justify-content: center;
  h2 {
    font-size: 20px;
    span {
      font-size: 18px;
    }
  }
}

.stats {
  background: $country-fill;
  border: 2px solid $green;
  border-radius: 5px;
  padding: 0 10px;
  pointer-events: none;
  margin: 0 10px;
}

.map {
  fill: $country-fill;
  stroke: $country-stroke;
  stroke-width: 3px;
  display: block;
  width: 35%;
  margin: 15px auto;
}

table,
th,
td {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid $green;
  padding: 10px;
  width: 10%;
}

table {
  // display: none;
  margin: 10px auto;
  font-size: 20px;
}

.odd-row {
  background-color: $country-fill;
}

a {
  text-decoration: underline;
  color: $green;
}

a:hover {
  color: $green;
  font-weight: bold;
}

@media only screen and (max-width: 650px) {
  #hover {
    width: 70%;
    margin: 10px auto;
  }
  .btn-container {
    width: 100%;
  }
  #prov-table-link,
  .show-country,
  #county-search {
    padding: 8px;
    margin: 0 2px;
    font-size: 16px;
    i {
      font-size: 12px;
    }
  }
  .autocomplete {
    width: $input-search-width-mobile;
  }
  .auto-suggestions {
    max-height: 150px;
  }
  .stats-container {
    width: $stats-width-mobile;
    flex-wrap: wrap;
    h2 {
      font-size: 17px;
      span {
        font-size: 16px;
      }
    }
  }

  .stats {
    margin-bottom: 10px;
  }

  .map {
    width: 70%;
  }

  #stats-head {
    font-size: 20px;
    span {
      display: block;
    }
  }

  th,
  td {
    padding: 7px 5px;
  }

  table {
    width: 95%;
    font-size: 14px;
    margin: 10px auto;
  }
}
