@import './_variables.scss';

body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;
  color: $country-stroke;
  background: $body-background;
  padding: 20px;
}

.stats {
  background: $country-fill;
  border: 2px solid $country-stroke;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.map {
  fill: $country-fill;
  stroke: $country-stroke;
  stroke-width: 3px;
  display: block;
  width: 40%;
  margin: 15px auto;
}

table,
th,
td {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid $country-stroke;
  padding: 10px;
  width: 10%;
}

table {
  display: none;
  margin: 10px auto;
  font-size: 20px;
}

.odd-row {
  background-color: $country-fill;
}

input {
  display: none;
  background-color: $country-fill;
  border: 2px solid $country-stroke;
  color: $country-stroke;
  border-radius: 5px;
  padding: 13px;
  font-size: 18px;
  margin: 10px 0;
  width: 50%;
}

input::placeholder {
  color: $placeholder;
}

a {
  text-decoration: underline;
  color: $country-stroke;
}

a:hover {
  color: $country-stroke;
  font-weight: bold;
}

@media only screen and (max-width: 650px) {
  input {
    width: 70%;
  }
  .map {
    width: 60%;
  }
  th,
  td {
    padding: 7px 5px;
  }

  table {
    width: 95%;
    font-size: 14px;
    margin: 10px auto;
  }
}
