@import './_variables.scss';
@import './_shared.scss';

body {
}

svg {
  fill: $country-fill;
  stroke: $green;
  stroke-width: 2.25px;
}

.stats-container {
  padding: 0 10px;
  h2 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
    span {
      font-size: 17px;
    }
  }
  .stats {
    padding: 10px;
  }
}

.world-map {
  @extend %center-block;
  display: block;
  width: 85%;
}

#info-box {
  @extend .stats;
  @extend %center-block;
  // font-size: 1.2vw;
}

.search-link {
  @extend %button-colors;
  @extend %button-hover;
  display: block;
  width: 30%;
  margin: 0 auto;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 15px;
}

.instruction {
  @extend %center-block;
  display: inline-block;
  padding: 8px;
  margin-top: 3px;
  font-size: 1.2vw;
  pointer-events: none;
  font-weight: bold;
}
