@import './_variables.scss';
html {
  overflow-y: scroll;
}

body {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background: $body-background;
  color: $green;
}

h3 {
  margin-bottom: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px $country-fill inset !important;
  -webkit-text-fill-color: $green !important;
}

.autocomplete {
  position: relative;
  width: 70%;
  margin: 10px auto;
}

input {
  background-color: $country-fill;
  border: 2px solid $green;
  color: $green;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 7px;
  width: 100%;
}

input::placeholder {
  color: $placeholder;
}

#res-label {
  margin: 10px 0;
  display: none;
}
a {
  font-weight: bold;
  color: $green;
}
a:hover {
  color: $green;
}

#search-res {
  background-color: $autocomplete-back;
  padding: 0;
  border-radius: 5px;
  position: absolute;
  margin-top: 6px;
  left: 0;
  right: 0;
  z-index: 99;
  overflow-y: scroll;
  max-height: 200px;
  a {
    display: block;
    font-size: 17px;
    padding: 7px;
    border: 1px solid $green;
    &:hover {
      text-decoration: none;
      background-color: $green;
      color: $body-background;
    }
  }
  li {
    list-style-type: none;
    margin: 0;
  }
  .first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .last {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.dbl-click {
  margin-bottom: 10px;
}

.visit-map-container {
  display: none;
}

.world-stats {
  display: inline-block;
  color: $green;
  border: 2px solid $green;
  background: $country-fill;
  text-align: center;
  padding: 4px 15px;
  border-radius: 10px;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .autocomplete {
    width: 40%;
    margin: 10px auto;
  }
  #search-res {
    max-height: 350px;
  }
  .visit-map-container {
    display: block;
  }
  .visit-map {
    display: inline-block;
    padding: 5px;
    margin: 10px 0;
    background: $country-fill;
    border: 2px solid $green;
    border-radius: 2px;
    color: $green;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $country-fill;
      text-decoration: none;
      background: $green;
    }
  }
  .visit {
    display: none;
  }
}
