@import './_variables.scss';
body {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background: $body-background;
  color: $country-stroke;
}

h3 {
  margin-bottom: 0;
}

input {
  background-color: $country-fill;
  border: 2px solid $country-stroke;
  color: $country-stroke;
  border-radius: 5px;
  padding: 7px;
  width: 70%;
}

input::placeholder {
  color: $placeholder;
}

#res-label {
  margin: 10px 0;
  display: none;
}
a {
  font-weight: bold;
  color: $country-stroke;
}
a:hover {
  color: $country-stroke;
}

#search-res {
  background-color: $country-fill;
  margin-top: 10px;
  padding: 0;
  border-radius: 5px;
  a {
    display: block;
    font-size: 20px;
    padding: 7px;
    border: 1px solid $country-stroke;
    &:hover {
      text-decoration: none;
      background-color: $country-stroke;
      color: $body-background;
    }
  }
  li {
    list-style-type: none;
    margin: 0;
  }
  .first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .last {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.dbl-click {
  margin-bottom: 10px;
}

.visit-map-container {
  display: none;
}

.world-stats {
  display: inline-block;
  color: $country-stroke;
  border: 2px solid $country-stroke;
  background: $country-fill;
  text-align: center;
  padding: 4px 15px;
  border-radius: 10px;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  input {
    width: 50%;
  }
  #search-res {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .visit-map-container {
    display: block;
  }
  .visit-map {
    display: inline-block;
    padding: 5px;
    margin: 10px 0;
    background: $country-fill;
    border: 2px solid $country-stroke;
    border-radius: 2px;
    color: $country-stroke;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $country-fill;
      text-decoration: none;
      background: $country-stroke;
    }
  }
  .visit {
    display: none;
  }
}
