@import './_variables.scss';
@import './_shared.scss';

#headlines {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 33px;
  }
  .icon {
    margin-top: 5px;
    width: 42px;
    margin-left: 10px;
  }
  margin-bottom: 10px;
}

#filter {
  font-size: 25px;
  display: none;
}

.btn {
  @extend %button-colors;
  @extend %button-hover;
}

#src-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 17px;
  font-size: 18px;
  .src-btn {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    padding: 0 5px;
    margin-bottom: 10px;
    width: 27%;
    height: 80px;
    fill: $country-fill;
    stroke: $country-stroke;
  }
  #all {
    padding-left: 25px;
    padding-right: 25px;
  }
}

#page-buttons {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  justify-content: center;
  border-radius: 3px;
  margin-bottom: 15px;
  #back,
  #next {
    border: 3px solid $country-stroke;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 15px;
  }
}

#page-num {
  font-size: 20px;
  margin-bottom: 5px;
}

.news-article {
  @extend %button-colors;
  border: 3px solid $country-stroke;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 17px;
  .article-title {
    font-size: 20px;
    margin-bottom: 15px;
    background-color: $article-title-back;
    padding: 15px;
    padding-bottom: 10px;
    font-weight: bold;
    .source {
      font-size: 20px;
      margin-top: 10px;
      text-align: left;
      font-weight: normal;
    }
  }
  .article-body {
    text-align: left;
    padding: 0 15px;
    padding-bottom: 15px;
  }
  .authors {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .date {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .published {
    text-decoration: underline;
  }
  .article-img {
    width: 100%;
    margin-top: 15px;
  }
  .article-description {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }
}

#back-to-top {
  @extend %button-colors;
  @extend %button-hover;
  padding: 10px;
  margin: 10px auto;
  font-size: 20px;
  width: 40%;
}

@media only screen and (min-width: 768px) {
  #news-headlines {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 30px;
  }

  #src-buttons {
    font-size: 22px;
    width: 50%;
    .src-btn {
      margin-bottom: 6px;
      padding: 10px 15px;
    }
  }

  .news-article {
    font-size: 23px;
    width: 50%;
    .article-title {
      font-size: 23px;
      background-color: $article-title-back;
      padding: 25px;
      padding-bottom: 10px;
      .source {
        font-size: 22px;
        margin-top: 15px;
        text-align: left;
      }
    }
    .authors {
      font-size: 25px;
    }
    .date {
      font-size: 25px;
    }
    .article-body {
      padding: 0 25px;
      padding-bottom: 25px;
    }
    .article-img {
      width: 100%;
      margin-top: 15px;
    }
    .article-description {
      text-align: justify;
      padding: 0;
      margin: 0;
      margin-bottom: 15px;
    }
  }
}
