@import './_variables.scss';
@import './_shared.scss';
@import './news.scss';

.autocomplete {
  position: relative;
  width: 70%;
  margin: 20px auto;
}

.ref {
  font-size: 17px;
}

h2 {
  font-size: 24px;
}

input {
  @extend %button-colors;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

input::placeholder {
  color: $placeholder;
}

#res-label {
  margin: 10px 0;
  display: none;
}

a {
  font-weight: bold;
}
a:hover {
  font-weight: normal;
}

#search-res {
  @extend %button-colors;
  display: none;
  padding: 0;
  border-radius: 5px;
  position: absolute;
  margin-top: 6px;
  left: 0;
  right: 0;
  z-index: 99;
  overflow-y: scroll;
  max-height: 170px;
  a {
    @extend %button-hover;
    text-decoration: none;
    display: block;
    font-size: 20px;
    li {
      border: 1px solid $green;
      padding: 10px;
    }
  }
  .first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .last {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

#visit-map {
  display: none;
}

.btn {
  @extend %button-hover;
  @extend %button-colors;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.world-stats {
  @extend .stats;
  font-size: 20px;
  padding: 10px 15px;
  margin: 20px auto;
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 33px;
  }
  .autocomplete {
    width: 40%;
    margin: 10px auto;
  }
  #search-res {
    max-height: 350px;
  }
  #visit-map {
    display: block;
  }
  .world-stats {
    margin-bottom: 15px;
  }
}
