@import './_variables.scss';
@import './_shared.scss';

.autocomplete {
  position: relative;
  width: 70%;
  margin: 10px auto;
}

h2 {
  font-size: 30px;
}

input {
  @extend %button-colors;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 5px;
  padding: 7px;
  width: 100%;
}

input::placeholder {
  color: $placeholder;
}

#res-label {
  margin: 10px 0;
  display: none;
}

a {
  font-weight: bold;
}
a:hover {
  font-weight: normal;
}

#search-res {
  @extend %button-colors;
  display: none;
  padding: 0;
  border-radius: 5px;
  position: absolute;
  margin-top: 6px;
  left: 0;
  right: 0;
  z-index: 99;
  overflow-y: scroll;
  max-height: 170px;
  a {
    @extend %button-hover;
    text-decoration: none;
    display: block;
    font-size: 17px;
    padding: 7px;
    border: 1px solid $green;
  }
  .first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .last {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.visit-map-container {
  display: none;
}

.visit-map {
  @extend %button-hover;
  @extend %button-colors;
  display: inline-block;
  padding: 5px;
  margin: 10px 0;
  font-weight: bold;
  text-decoration: none;
}

.world-stats {
  @extend .stats;
  font-size: 18px;
  padding: 10px 15px;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .autocomplete {
    width: 40%;
    margin: 10px auto;
  }
  #search-res {
    max-height: 350px;
  }
  .visit-map-container {
    display: block;
  }
}
