html {
  overflow-y: scroll;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  color: #82e0aa;
  background: #101010;
  padding: 20px;
}

#country {
  margin: 0px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  width: 33%;
  margin: 10px auto;
  justify-content: space-evenly;
}

#prov-table-link,
.show-country {
  background-color: #1c2833;
  border: 2px solid #82e0aa;
  border-radius: 3px;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
}
#prov-table-link:hover,
.show-country:hover {
  background-color: #82e0aa;
  color: #1c2833;
}
#prov-table-link i,
.show-country i {
  font-size: 14px;
}

#stats-head {
  margin: 6px 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #1c2833 inset !important;
  -webkit-text-fill-color: #82e0aa !important;
}

.autocomplete {
  width: 43%;
  position: relative;
  margin: 15px auto;
}

input {
  background-color: #1c2833;
  border: 2px solid #82e0aa;
  color: #82e0aa;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  display: none;
}

input::placeholder {
  color: #abebc6;
}

.auto-suggestions {
  display: none;
  padding: 0px;
  background: #1c2833;
  border: 2px solid #82e0aa;
  border-radius: 5px;
  position: absolute;
  margin-top: 5px;
  left: 0;
  right: 0;
  z-index: 99;
}
.auto-suggestions li {
  padding: 10px 0px;
  font-size: 18px;
  list-style-type: none;
  cursor: pointer;
  background-color: #34495e;
  border: 1px solid #82e0aa;
}
.auto-suggestions li:hover {
  background-color: #82e0aa;
  color: #1c2833;
}

.stats-container {
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 15px;
  justify-content: space-evenly;
}
.stats-container h2 {
  font-size: 20px;
}
.stats-container h2 span {
  font-size: 18px;
}

.stats {
  background: #1c2833;
  border: 2px solid #82e0aa;
  border-radius: 5px;
  padding: 0 10px;
  pointer-events: none;
}

.map {
  fill: #1c2833;
  stroke: #82e0aa;
  stroke-width: 3px;
  display: block;
  width: 35%;
  margin: 15px auto;
}

table,
th,
td {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #82e0aa;
  padding: 10px;
  width: 10%;
}

table {
  margin: 10px auto;
  font-size: 20px;
}

.odd-row {
  background-color: #1c2833;
}

a {
  text-decoration: underline;
  color: #82e0aa;
}

a:hover {
  color: #82e0aa;
  font-weight: bold;
}

@media only screen and (max-width: 650px) {
  .btn-container {
    width: 100%;
    margin: 12px auto;
  }

  #prov-table-link,
.show-country {
    padding: 8px;
    font-size: 16px;
  }
  #prov-table-link i,
.show-country i {
    font-size: 12px;
  }

  .autocomplete {
    width: 90%;
  }

  .stats-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .stats-container h2 {
    font-size: 17px;
  }
  .stats-container h2 span {
    font-size: 16px;
  }

  .stats {
    margin-bottom: 10px;
  }

  .map {
    width: 70%;
  }

  #stats-head {
    font-size: 20px;
  }
  #stats-head span {
    display: block;
  }

  th,
td {
    padding: 7px 5px;
  }

  table {
    width: 95%;
    font-size: 14px;
    margin: 10px auto;
  }
}

/*# sourceMappingURL=country.css.map */
