html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background: #101010;
  color: #82e0aa;
}

#root {
  visibility: hidden;
}

.ref {
  font-size: 20px;
}

h2 {
  margin: 0;
}

a {
  text-decoration: underline;
  color: #82e0aa;
}

a:hover {
  color: #82e0aa;
  font-weight: bold;
}

li {
  list-style-type: none;
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#globe-icon {
  margin-right: 10px;
}

.icon {
  width: 45px;
}

#loading-icon {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  width: 180px;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
}

.stats, .world-stats {
  display: inline-block;
  color: #82e0aa;
  border: 2px solid #82e0aa;
  background: #1c2833;
  text-align: center;
  padding: 4px 15px;
  border-radius: 5px;
  pointer-events: none;
  margin: 0 10px;
}

#msg-to-user {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#msg-to-user .icon {
  width: 35px;
  margin: 0 5px;
}

#search-res a:hover, #back-to-top:hover, .btn:hover {
  color: #1c2833;
  text-decoration: none;
  background: #82e0aa;
  cursor: pointer;
}

#search-res, input, #back-to-top, .news-article, .btn {
  background-color: #1c2833;
  color: #82e0aa;
  border: 2px solid #82e0aa;
  border-radius: 2px;
  text-decoration: none;
}

@media only screen and (max-width: 650px) {
  #msg-to-user {
    font-size: 18px;
  }
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background: #101010;
  color: #82e0aa;
}

#root {
  visibility: hidden;
}

.ref {
  font-size: 20px;
}

h2 {
  margin: 0;
}

a {
  text-decoration: underline;
  color: #82e0aa;
}

a:hover {
  color: #82e0aa;
  font-weight: bold;
}

li {
  list-style-type: none;
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#globe-icon {
  margin-right: 10px;
}

.icon {
  width: 45px;
}

#loading-icon {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  width: 180px;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
}

.stats, .world-stats {
  display: inline-block;
  color: #82e0aa;
  border: 2px solid #82e0aa;
  background: #1c2833;
  text-align: center;
  padding: 4px 15px;
  border-radius: 5px;
  pointer-events: none;
  margin: 0 10px;
}

#msg-to-user {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#msg-to-user .icon {
  width: 35px;
  margin: 0 5px;
}

#search-res a:hover, #back-to-top:hover, .btn:hover {
  color: #1c2833;
  text-decoration: none;
  background: #82e0aa;
  cursor: pointer;
}

#search-res, input, #back-to-top, .news-article, .btn {
  background-color: #1c2833;
  color: #82e0aa;
  border: 2px solid #82e0aa;
  border-radius: 2px;
  text-decoration: none;
}

@media only screen and (max-width: 650px) {
  #msg-to-user {
    font-size: 18px;
  }
}
#headlines {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
#headlines h2 {
  font-size: 33px;
}
#headlines .icon {
  margin-top: 5px;
  width: 42px;
  margin-left: 10px;
}

#filter {
  font-size: 25px;
  display: none;
}

#src-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 17px;
  font-size: 18px;
}
#src-buttons .src-btn {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  padding: 0 5px;
  margin-bottom: 10px;
  width: 27%;
  height: 80px;
  fill: #1c2833;
  stroke: #82e0aa;
}
#src-buttons #all {
  padding-left: 25px;
  padding-right: 25px;
}

#page-buttons {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  justify-content: center;
  border-radius: 3px;
  margin-bottom: 15px;
}
#page-buttons #back,
#page-buttons #next {
  border: 3px solid #82e0aa;
  cursor: pointer;
  margin: 0 10px;
  padding: 5px 15px;
}

#page-num {
  font-size: 20px;
  margin-bottom: 5px;
}

.news-article {
  border: 3px solid #82e0aa;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 17px;
}
.news-article .article-title {
  font-size: 20px;
  margin-bottom: 15px;
  background-color: #303b45;
  padding: 15px;
  padding-bottom: 10px;
  font-weight: bold;
}
.news-article .article-title .source {
  font-size: 20px;
  margin-top: 10px;
  text-align: left;
  font-weight: normal;
}
.news-article .article-body {
  text-align: left;
  padding: 0 15px;
  padding-bottom: 15px;
}
.news-article .authors {
  font-size: 20px;
  margin-bottom: 5px;
}
.news-article .date {
  font-size: 20px;
  margin-bottom: 10px;
}
.news-article .published {
  text-decoration: underline;
}
.news-article .article-img {
  width: 100%;
  margin-top: 15px;
}
.news-article .article-description {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

#back-to-top {
  padding: 10px;
  margin: 10px auto;
  font-size: 20px;
  width: 40%;
}

@media only screen and (min-width: 768px) {
  #news-headlines {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 30px;
  }

  #src-buttons {
    font-size: 22px;
    width: 50%;
  }
  #src-buttons .src-btn {
    margin-bottom: 6px;
    padding: 10px 15px;
  }

  .news-article {
    font-size: 23px;
    width: 50%;
  }
  .news-article .article-title {
    font-size: 23px;
    background-color: #303b45;
    padding: 25px;
    padding-bottom: 10px;
  }
  .news-article .article-title .source {
    font-size: 22px;
    margin-top: 15px;
    text-align: left;
  }
  .news-article .authors {
    font-size: 25px;
  }
  .news-article .date {
    font-size: 25px;
  }
  .news-article .article-body {
    padding: 0 25px;
    padding-bottom: 25px;
  }
  .news-article .article-img {
    width: 100%;
    margin-top: 15px;
  }
  .news-article .article-description {
    text-align: justify;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
}
.autocomplete {
  position: relative;
  width: 70%;
  margin: 20px auto;
}

.ref {
  font-size: 17px;
}

h2 {
  font-size: 24px;
}

input {
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

input::placeholder {
  color: #abebc6;
}

#res-label {
  margin: 10px 0;
  display: none;
}

a {
  font-weight: bold;
}

a:hover {
  font-weight: normal;
}

#search-res {
  display: none;
  padding: 0;
  border-radius: 5px;
  position: absolute;
  margin-top: 6px;
  left: 0;
  right: 0;
  z-index: 99;
  overflow-y: scroll;
  max-height: 170px;
}
#search-res a {
  text-decoration: none;
  display: block;
  font-size: 20px;
}
#search-res a li {
  border: 1px solid #82e0aa;
  padding: 10px;
}
#search-res .first {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#search-res .last {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#visit-map {
  display: none;
}

.btn {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.world-stats {
  font-size: 20px;
  padding: 10px 15px;
  margin: 20px auto;
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 33px;
  }

  .autocomplete {
    width: 40%;
    margin: 10px auto;
  }

  #search-res {
    max-height: 350px;
  }

  #visit-map {
    display: block;
  }

  .world-stats {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=search.css.map */
