extends layout.pug
block content
  h1.name #{name}
  h2 Current status:
  div.stats
    h2 Total Cases: #{totCases}
  div.stats
    h2 Total Deaths: #{totDeaths}
  div.stats
    h2 Total Recovered: #{totRecovered}
