extends layout.pug
block append style
  link(rel="stylesheet" href="/style/news.css")
block content
  h2#news-headlines Latest News
    div #{name}
  div#page-buttons
    div#back
      i(class="fas fa-angle-left")
    div#next
      i(class="fas fa-angle-right")
  div#page-num Page 
    span#p-num 1 
    span of  
    span#p-tot 
  div#news 
  div#back-to-top Back To Top
  p.ref News powered by:  
    a(href="https://newsApi.org" target="_blank") NewsApi.org
    br
block append scripts
  script(src="/scripts/news.js")
  script(src="/scripts/news-setup.js")
