extends layout.pug
block append style
  link(rel="stylesheet" href="/style/main.css")
block append initscripts
  script(src="/scripts/redirect.js")
block content
  div.title
    img(id="globe-icon" class="icon" src="/svg/icons/globe-icon.svg" alt="globe icon")
    h2 Covid-19 Status: 
     span(id="region") World
  a(class="search-link" href="/mobile.html") Country Search
  div.stats-container
    div.stats
      strong Total Cases:  
      br
      span(id="tot-cases") #{numWithCommas(totCases)}
    div.stats
      strong Total Deaths:
      br
      span(id="tot-deaths") #{numWithCommas(totDeaths)}
    div.stats
      strong Total Recovered:
      br
      span(id="tot-recovered") #{numWithCommas(totRecovered)}
  div.world-map
    object(id="world-map-object" type="image/svg+xml" data="/svg/maps/world-map.svg") Your browser does not support SVGs
  p.ref Data retrieved from John Hopkins CCGIS Data Set:
    a(href="https://github.com/CSSEGISandData/COVID-19" target="_blank") Data Source
    br
block append scripts
  script(src="/scripts/main.js")
