extends layout.pug
block append style
  link(rel="stylesheet" href="/style/search.css")
block content
  div.title
    img(id="globe-icon" class="icon" src="/svg/icons/globe-icon.svg" alt="globe icon")
    h2 Covid-19 Status
  div.visit-map-container
    a(class="visit-map" href="/") Back to Global Map
  div.world-stats
    strong World
    br
    Total Confirmed Cases: #{numWithCommas(totCases)}
    br
    Total Deaths: #{numWithCommas(totDeaths)} 
    br
    Total Recovered: #{numWithCommas(totRecovered)} 
  form(autocomplete="off")
    div.autocomplete
      input(type="text" id="search" placeholder="Search for Country" autocomplete="off")
      ul(id="search-res")
  h2#news-headlines Latest News
  div#page-buttons
    div#back
      i(class="fas fa-angle-left")
    div#next
      i(class="fas fa-angle-right")
  div#page-num Page 
    span#p-num 1 
    span of  
    span#p-tot 
  div#news 
  div#back-to-top Back To Top
  p.ref News powered by:  
    a(href="https://newsApi.org" target="_blank") NewsApi.org
    br
block append scripts
  script(src="/scripts/news.js")
  script(src="/scripts/search.js")
