$country-fill-color: #17202a;
$country-stroke-color: #82e0aa;

body {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

svg {
  fill: $country-fill-color;
  stroke: $country-stroke-color;
  stroke-width: 2px;
}

.world-map {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  color: $country-fill-color;
  border: 2px solid $country-fill-color;
  background: $country-stroke-color;
  text-align: center;
  padding: 8px;
  pointer-events: none;
  border-radius: 10px;
  font-size: 14px;
}

object {
}
